<p-image src="../../../assets/images/img1.jpg" alt="Image" width="300"></p-image>
<h1>Modelo 1</h1>
<p-image src="../../../assets/images/img2.jpg" alt="Image" width="300"></p-image>
<h1>Modelo 2</h1>
<p-image src="../../../assets/images/img3.jpg" alt="Image" width="300"></p-image>
<h1>Modelo 3</h1>
<p-image src="../../../assets/images/img4.jpg" alt="Image" width="300"></p-image>
<h1>Modelo 4</h1>
<p-image src="../../../assets/images/img5.jpg" alt="Image" width="300"></p-image>
<h1>Modelo 5</h1>
<p-image src="../../../assets/images/img6.jpg" alt="Image" width="300"></p-image>
<h1>Modelo 6</h1>
