<p-card>
  <ng-template pTemplate="header">
      <h1>Resumen</h1>
      <h2>Profesor, músico, compositor y guitarrista con amplia experiencia como</h2>
      <h2> docente en el sector privado implementando programaciones basadas en la</h2>
      <h2>práctica instrumental, el aprendizaje por descubrimiento y el historicismo</h2>
      <h2>en la interpretación de piezas clásicas. Serio y comprometido con mi labor </h2>
      <h2>y con grandes dotes de comunicación.</h2>
    </ng-template>

  <ng-template pTemplate="footer">
      <h1>Experiencia laboral</h1>
      <h2>- Octubre de 2014 a junio de 2016. Profesor de guitarra en el Conservatorio Profesional de Música de Getafe (Madrid) impartiendo clases como suplente.</h2>
      <h2>- Septiembre de 2013 a julio de 2014. Profesor contratado en la Universidad Complutense de Madrid impartiendo clases de Didáctica de la Historia de la Música.</h2>
      <h2>-Septiembre de 2010 a julio de 2012. Profesor de guitarra clásica en la EMC (Madrid) elaborando e implementando programaciones didácticas propias de la asignatura</h2>
      <h2>-Octubre de 2009 a julio de 2010. Docente en el centro privado Adolfo Suárez (Madrid) impartiendo clases de música en el tercer ciclo de Educación Primaria.</h2>
      <h2>-Septiembre de 2008 a julio de 2009. Maestro de Música en la REMM (Madrid) realizando tareas docentes, especialmente en los centros Antonio Machado y Maestro Barbieri.</h2>
    </ng-template>
</p-card>
