<p-accordion>
  <p-accordionTab header="Educación" [selected]="true">

    <h1>Educación musical</h1>
    <p-image src="../../../assets/images/01.jpg" alt="Image" width="250"></p-image>

    <h2>Decidí estudiar música desde muy joven. Han pasado algunos años desde entonces y la ilusión e interés por</h2>
    <h2>la música no han dejado de crecer, a pesar de los retos que se han presentado en mi camino.</h2>
    <h2> Un músico no tiene elección. Creo que el presente brinda oportunidades muy especiales y únicas, </h2>
    <h2>como la de poder escribir y compartir música con otras personas desde cualquier parte del mundo..</h2>
      </p-accordionTab>

  <p-accordionTab header="Ayudando">

    <h1>Ayudando a otros profesionales</h1>
    <p-image src="../../../assets/images/02.jpg" alt="Image" width="250"></p-image>

    <h2>Hay un gran número de músicos, ya sean aficionados o profesionales</h2>
    <h2>con experiencia, interesados en trabajar áreas y/o en resolver</h2>
    <h2>problemas concretos que frenan su desarrollo. Es mi vocación y mi</h2>
    <h2>principal objetivo ayudarles a superar estas barreras y facilitarles que</h2>
    <h2>sigan creciendo musicalmente.</h2>
  </p-accordionTab>
  <p-accordionTab header="Clases">
    <h1>Doy clases de guitarra!</h1>
    <p-image src="../../../assets/images/03.jpg" alt="Image" width="250"></p-image>

   <h2>Actualmente ademas de mi labor como interprete y musicólogo realizo</h2>
   <h2>clases de guitarra,tanto para mejorar la tecnica de los alumnos como</h2>
   <h2>para preparar exámenes de acceso a estudios medios o superiores de</h2>
   <h2>guitarra.Las clases se realizan con guitarra española moderna, guitarra</h2>
   <h2>clásico-romántica, guitarra de 6 ordenes o guitarra barroca Si</h2>
   <h2>estuvieras interesado yo estoy afincado en Barcelona( España) y</h2>
   <h2>realizo tanto clases presenciales como por Skype.</h2>
  </p-accordionTab>
</p-accordion>



